$Desktop: 'min-width: 1441px';
$Tablet: 'min-width: 768px';


.modal-content {
  height: 900px;
  overflow-y: scroll;

  .modal-header {
    flex-direction: column-reverse;
    border-bottom: unset; 

    > div {
      margin: 0 auto;
      text-align: center;
  
      h4 {
        font-size: 2.5rem;
        line-height: 3.7rem;
        color: #575757;
      }
    }

    @media screen and($Tablet) {
      margin-bottom: 40px;

      > div {
        span {
          align-self: flex-end;
          opacity: 0.65;
          font-size: 1.6rem;
          line-height: 2.3rem;
          color: #7a7a7a;
        }
      }
    }

    @media screen and ($Desktop) {
      
    }
  }

  .modal-body {
    .info-contain {
      padding: 10px 15px;
      background-color: #ece4db;
      margin-bottom: 30px;
    }
  
    h5 {
      width: 82px;
      font-size: 1.6rem;
      line-height: 2.3rem;
      color: #575757;
      flex-shrink: 0;
    }
  
    p {
      font-size: 1.5rem;
      line-height: 2.6rem;
      color: #7a7a7a;
      a {
        margin-right: 10px;
      }
    }
  
    .intro {
      margin-bottom: 20px;
    }
  
    .sub-intro {
      > div {
        display: flex;
        margin-bottom: 20px;
      }
    }

    .project-inner-list {
      margin-bottom: 50px;

      img {
        height: 150px;
        margin: 0 auto 20px auto;
        display: block;
        width: 80%;
        border: solid 1px #dcdcdc;
        background-color: #ffffff;
      }
    
      div {
        h6 {
          font-size: 2rem;
          line-height: 3rem;
          color: #404040;
          margin-bottom: 10px;
        }
    
        dl {
          font-size: 1.4rem;
          line-height: 2.3rem;
    
          dt {
            color: #505050;
          }

          dt::before {
            content: '∙ ';
            display: inline-block;
            margin-right: 5px;
          }
    
          dd {
            margin-bottom: 10px;
            color: #7a7a7a;
            white-space: pre-line;
          }
        }
      }
    }
  
    @media screen and ($Tablet) {
      padding: 0 29px;

      .info-contain {
        padding: 25px 30px;
        margin-bottom: 30px;
      }
  
      p {
        font-size: 1.8rem;
        line-height: 2.6rem;
        color: #7a7a7a;
  
        a {
          margin-right: 15px;
        }
      }

      .project-inner-list {
        display: flex;

        .inner-img {
          height: 238px;
          width: 350px;
          margin: unset;
          display: unset;
          margin-right: 30px;
          flex-shrink: 0;
        }
    
        > div {
          h6 {
            font-size: 2rem;
          }
    
          dl {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}